.cont{
    border:1px solid grey;
    background-color: gray;
    color: white;
    height: 40px;

}
a:link{
  color:white;
    text-decoration: none;
}

a:hover{
    background-color: rgb(0, 0, 0);
}
div{
    padding: 1px;
}
